<ion-header>
  <ion-toolbar>
    <!-- Bouton "Retour" par défaut -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Magasin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-button color="primary" routerLink="/add-article"> Ajouter un article</ion-button>
    <ion-button color="secondary" routerLink="/list-article">Afficher la liste</ion-button>
    <ion-button color="secondary" routerLink="/recherche">Recherche</ion-button>
    <ion-button color="danger" (click)="reset()">Clear</ion-button>
  </div>
</ion-content>
